%h3 
  =@msg
  の検索結果
%table
  %tr
    %th 学部
    %th 学科
    %th 受験方法
    %th 受験年度
    %th Twitter
    %th Facebook
    %th
    %th
    %th
  - @stories.each do |story|
    %tr
      %td= story.school_department
      %td= story.school_subject
      %td= story.apply_result
      %td= story.apply_year
      %td= story.twitter
      %td= story.facebook
      %td= link_to '詳細を見る', story,class:"btn btn-info"
      %td= link_to '編集する', edit_story_path(story),class:"btn btn-primary"
      %td= link_to '削除する', story, method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn btn-danger"

%br
