%h3 
  =@msg
  の検索結果
%table.table
  %tr{:style=>"background-color : #ccc"}
    %th
      = link_to'学部',{:controller=>"stories" ,:action=>"search",:school_name=>@msg ,:order=>"school_department"},{:method=>"post"}
    %th
      = link_to'学科',{:controller=>"stories" ,:action=>"search",:school_name=>@msg ,:order=>"school_subject"},{:method=>"post"}
    %th
      = link_to'受験方法',{:controller=>"stories" ,:action=>"search",:school_name=>@msg ,:order=>"apply_kind"},{:method=>"post"}
    %th 
      = link_to'受験年度',{:controller=>"stories" ,:action=>"search",:school_name=>@msg ,:order=>"apply_year"},{:method=>"post"}
    %th Twitter
    %th Facebook
    %th
    %th
    %th
  - @stories.each do |story|
    %tr
      %td= story.school_department
      %td= story.school_subject
      %td= story.apply_kind
      %td= story.apply_year
      %td= story.twitter
      %td= story.facebook
      %td= link_to '詳細を見る', story,class:"btn btn-info"
      %td= link_to '編集する', edit_story_path(story),class:"btn btn-primary"
      %td= link_to '削除する', story, method: :delete, data: { confirm: '本当に削除しますか?' },class:"btn btn-danger"

%br
