.row-fluid
  .span6.offset3
    %p#notice= notice

    %table.table
      %tbody
        %tr
          %td
            受験大学
          %td
            = @story.school_name
            = @story.school_department
            = @story.school_subject
        %tr
          %td
            受験方法
          %td
            = @story.apply_kind
        %tr
          %td
            合否
          %td
            = @story.apply_result
        %tr
          %td
            年度
          %td
            = @story.apply_year
        %tr
          %td
            併願校
          %td
            = @story.sub_school_name
        %tr
          %td
            出身校
          %td
            = @story.nct_name
            = @story.nct_department
        %tr
          %td
            最高順位
          %td
            = @story.nct_rank
    %p
      %h4 
        自己紹介
      %blockquote
        = @story.your_profile
    %p
      %h4 
        動機
      %blockquote
        = @story.your_motive
    %p
      %h4 
        試験科目
      %blockquote
        = @story.exam_subject
    %p
      %h4 試験
      %blockquote
        = @story.exam_content
    %p
      %h4 面接
      %blockquote
        = @story.interview
    %p
      %h4 参考書
      %blockquote
        = @story.study_aid
    %p
      %h4 Twitter
      %blockquote
        = @story.twitter
    %p
      %h4 Facebook
      %blockquote
        = @story.facebook
    %p
      %h4 Mail address
      %blockquote
        = @story.mail_address

    = link_to 'Edit', edit_story_path(@story)
    \|
    = link_to 'Back', stories_path
