%p#notice= notice

%p
  %b School name:
  = @story.school_name
%p
  %b School department:
  = @story.school_department
%p
  %b School subject:
  = @story.school_subject
%p
  %b Apply kind:
  = @story.apply_kind
%p
  %b Apply result:
  = @story.apply_result
%p
  %b Apply year:
  = @story.apply_year
%p
  %b Sub school name:
  = @story.sub_school_name
%p
  %b Nct name:
  = @story.nct_name
%p
  %b Nct department:
  = @story.nct_department
%p
  %b Nct rank:
  = @story.nct_rank
%p
  %b Your profile:
  = @story.your_profile
%p
  %b Your motive:
  = @story.your_motive
%p
  %b Exam subject:
  = @story.exam_subject
%p
  %b Exam content:
  = @story.exam_content
%p
  %b Interview:
  = @story.interview
%p
  %b Study aid:
  = @story.study_aid
%p
  %b Twitter:
  = @story.twitter
%p
  %b Facebook:
  = @story.facebook
%p
  %b Mail address:
  = @story.mail_address

= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path
