.row-fluid
  .span8.offset2
    %h3
      HenTaiは高専生が求めている編入体験談が集まるサイトです
.row-fluid
  %center
    .carousel.slide#myCarousel
      .carousel-inner
        .active.item
          =image_tag("/img001.png")
        .item
          =image_tag("/img002.png")
        .item
          =image_tag("/img003.png")
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
    :javascript
      $(document).ready(function(){
        $('#myCarousel').carousel({
          interval: 2000,
          cycle: true
        });
      });
.row-fluid
  .span6
    %h4
      更新情報
  .span6
    %h4
      掲載されている主な大学
      %ul.nav.nav-list
        %li= link_to'東京大学',{:controller=>"stories" ,:action=>"search",:school_name=>"東京大学"},{:method=>"post"}
        %li= link_to'京都大学',{:controller=>"stories" ,:action=>"search",:school_name=>"京都大学"},{:method=>"post"}
        %li= link_to'東方大学',{:controller=>"stories" ,:action=>"search",:school_name=>"東北大学"},{:method=>"post"}
        %li= link_to'九州大学',{:controller=>"stories" ,:action=>"search",:school_name=>"九州大学"},{:method=>"post"}
        %li= link_to'北海道大学',{:controller=>"stories" ,:action=>"search",:school_name=>"北海道大学"},{:method=>"post"}
        %li= link_to'大阪大学',{:controller=>"stories" ,:action=>"search",:school_name=>"大阪大学"},{:method=>"post"}
        %li= link_to'名古屋大学',{:controller=>"stories" ,:action=>"search",:school_name=>"名古屋大学"},{:method=>"post"}
        %li= link_to'東京工業大学',{:controller=>"stories" ,:action=>"search",:school_name=>"東京工業大学"},{:method=>"post"}
        %li= link_to'神戸大学',{:controller=>"stories" ,:action=>"search",:school_name=>"神戸大学"},{:method=>"post"}
        %li= link_to'筑波大学',{:controller=>"stories" ,:action=>"search",:school_name=>"筑波大学大学"},{:method=>"post"}
        %li= link_to'京都工芸繊維大学',{:controller=>"stories" ,:action=>"search",:school_name=>"京都工芸繊維大学"},{:method=>"post"}
